.composition {
    position: relative;

    &__photo {
        width: 90%;
        border-radius: 5px;
        position: absolute;

        left: 11%;
        top: 6rem;

        @include respond (tab-port) {
            float: left;
            position: relative;
            width: 33.33333333%;
        }

        &--p1 {
            left: 0;
            top: -2rem;

            @include respond (tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }
    }
}