.experience-box {
    background-color: rgba($color-white, .8);
    font-size: $default-font-size-larger;
    padding: 2.5rem;
    margin: 0 15rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__text {
        text-align: left;
    }
}