/* index layout style sheet */
a
{
    text-shadow: 0 -1px 0px rgba(0,0,0,.8);
}
#navsite
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-right: 1px solid #666;
    padding: 0;
    margin-bottom: 1em;
    color: #333;
    width: 15em;
}

#navbar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    /* width: 100%;
    float: left;
    margin-left:0;
    border-bottom: 1px solid #778;
    font: bold 12px Verdana, sans-serif; */
}

#navsite ul li
{
    margin: 0;
    border-top: 1px solid #003;
    /* list-style: none;
    float: left; */
} 

/* #navsite ul li a
{
    padding: 12px 0.5em;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom:none;
    background-color: #666;
    text-decoration: none;
} */