/*Resume style sheet*/
body
{
	background-color: aliceblue;
	
}

header
{
	width:100%;
	font-family: 'Times New Roman', Times, serif;
}

#contact, #skills, h1, #objective, #projects, #education, #experience
{
	font-family: 'Times New Roman', Times, serif;
}

/* #contact
{
	margin-left: 10px;
} */

h1
{
	margin-left: 65px;
}

/* #skills, #objective
{
	margin-left: 50px;
} */

hr
{
	width: 95%;
}

#familiar 
{
	margin-left: 250px;
	margin-top: -134px;
}

#proficient
{
	margin-top: 25px;
}

ul 
{
    list-style-type: none;
}

li
{
	margin-left: 15px;
}



