html, body, header, .view {
    height: 100%;
    margin: 0;
}

nav {
    width: 100%;
    font-family: 'Times New Roman', Times, serif; 
   
}

#topNav {
    padding-left: 30%;
    background-color: rgb(179,204,255);
}

.contentLinks {
    padding-left: 30%;
}

.view {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li a, #name-link {
    color: white;
    font-size: 24px;
}

li {
    margin-left: 15px;
}

#indexCard {
    background-color: rgb(179,204,255);
}

 #objective, #projects, #education, #experience, #contact, #skills, #about-me {
     font-family: 'Times New Roman', Times, serif;
     
 }

 #objectiveCard, #homeCard, #skillsCard, #contactCard, #projectsCard, #educationCard, #experienceCard, #aboutCard, #contactCard {
     padding-top: 15%;
 }

#projectsCard {
    padding-left: 10%;
}

#contactInfo {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

 div h3, div a, nav a, p a {
     color: black;
 }

 p a {
     color: black;
 }

#about-link, #contact-link, #linkedin-link, #git-link, p {
    font-size: 20px;
}
    


