/*Resume style sheet*/
body
{
	background-color: aliceblue;
}

header
{
	width:100%;
}

#contact, #skills, h1, #objective
{
	margin-left: 50px;
}

hr
{
	width: 95%;
}

#familiar 
{
	margin-left: 250px;
	margin-top: -134px;
}

#proficient
{
	margin-top: 25px;
}

ul {
    list-style-type: none;
}

li
{
	margin-left: 15px;
}



